---
import { Icon } from 'astro-icon';
import FavoritesButton from './FavoritesButton';
import FavoritesFlyout from '../FavoritesFlyout';
---

<header
  class="sticky z-50 top-0 w-full h-12 bg-gray-700 bg-opacity-95 lg:hidden flex justify-between items-center px-5"
>
  <Icon
    id="menu"
    class="text-gray-100 w-8 hover:cursor-pointer"
    name="mdi:menu"
  />
  <span class="text-gray-100 text-2xl sm:text-3xl">Labranzas</span>
  <div>
    <FavoritesButton client:only />
    <button
      class="p-2 rounded-full transition duration-300 ease-in-out hover:hover:bg-gray-600"
    >
      <Icon class="w-6 inline text-gray-100" name="mdi:cart-outline" />
    </button>
  </div>
  <nav
    id="menu-container"
    class="scale-0 transition duration-300 ease-in-out origin-top-left bg-gray-700 text-gray-100 absolute top-12 -left-0"
  >
    <!-- class="opacity-0 transition-opacity duration-500 ease-out bg-gray-700 text-gray-100 absolute top-12 -left-0" -->
    <ul>
      <li
        class="px-6 py-3 hover:bg-gray-600 transition duration-300 ease-in-out"
      >
        <a href="#">Inicio</a>
      </li>
      <li
        class="px-6 py-3 hover:bg-gray-600 transition duration-300 ease-in-out"
      >
        <a href="#">Centros de mesa</a>
      </li>
      <li
        class="px-6 py-3 hover:bg-gray-600 transition duration-300 ease-in-out"
      >
        <a href="#">Souvenirs</a>
      </li>
      <li
        class="px-6 py-3 hover:bg-gray-600 transition duration-300 ease-in-out"
      >
        <a href="#">Hogar</a>
      </li>
      <li
        class="px-6 py-3 hover:bg-gray-600 transition duration-300 ease-in-out"
      >
        <a href="#">Contacto</a>
      </li>
      <li
        class="px-6 py-3 hover:bg-gray-600 transition duration-300 ease-in-out"
      >
        <a href="#">Cómo comprar?</a>
      </li>
    </ul>
  </nav>
  <FavoritesFlyout client:only />
</header>

<script is:inline>
  const menu = document.getElementById('menu');
  const containerMenu = document.getElementById('menu-container');
  menu.addEventListener('click', () => {
    containerMenu.classList.toggle('scale-100');
  });
  window.addEventListener('click', function (e) {
    e.preventDefault();
    if (!containerMenu.contains(e.target) && !menu.contains(e.target)) {
      if (containerMenu.classList.contains('scale-100')) {
        containerMenu.classList.remove('scale-100');
      }
    }
  });
</script>
