@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: 'poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: var(--primary-font);
    scroll-behavior: smooth;
  }
  body {
    @apply max-w-screen-xl my-0 mx-auto bg-gray-100;
  }
}

@layer components {
  /* PRODUCT */
  .card {
    @apply p-4 bg-white text-gray-700 w-72 min-h-[20rem] shadow-lg rounded-md overflow-hidden;
  }
  .badge {
    @apply mt-2 px-3 py-1 rounded-full text-xs bg-gray-100;
  }
  .product-title {
    @apply text-lg overflow-ellipsis;
  }
  .discount-percent {
    @apply bg-green-400 px-1.5 py-0.5 rounded-md text-xs text-white;
  }
  .button-primary {
    @apply bg-gray-700/80 hover:bg-gray-700/90 px-2 py-2 rounded-md text-white tracking-wider transition;
  }
  .button-icon {
    @apply flex flex-grow justify-center items-center rounded-md bg-gray-300/60 hover:bg-gray-300/80 transition;
  }
  /* DIVIDER */
  .divider-container {
    @apply relative flex py-5 items-center;
  }
  .divider-line {
    @apply flex-grow border-t border-gray-500;
  }
  .divider-content {
    @apply flex-shrink mx-4 text-gray-500;
  }
}

h1 {
  @apply text-2xl  sm:text-4xl;
}

h2 {
  @apply text-xl  sm:text-3xl;
}

h3 {
  @apply text-lg  sm:text-2xl;
}

h4 {
  @apply text-base  sm:text-lg;
}
