---
import { Icon } from 'astro-icon';
---

<div class="card">
  <img
    class="w-full rounded-md border border-gray-100 object-cover"
    src="/images/aspiradora.jpg"
    alt=""
  />
  <div class="flex flex-col gap-3">
    <div class="flex items-center gap-2">
      <!-- Badge -->
      <span class="badge">Stock ready</span>
      <span class="badge">Oficial store</span>
    </div>
    <!-- Title -->
    <h2 class="product-title" title="La mejor aspiradora">
      La mejor aspiradora del mercado. Garantía de fábrica ... ...
    </h2>
    <!-- Price -->
    <div class="flex justify-between items-center gap-2 mt-1">
      <span class="text-sm line-through opacity-50"> $50000</span>
      <span class="discount-percent">20% off</span>
      <span class="text-xl font-bold">$45500</span>
    </div>
    <!-- Action buttons -->
    <div class="mt-5 flex gap-2">
      <button class="button-primary">Agregar al carrito</button>
      <button class="button-icon"
        ><Icon class="w-6 opacity-50" name="mdi:cards-heart" /></button
      >
      <button class="button-icon"
        ><Icon class="w-6 opacity-50" name="mdi:eye" /></button
      >
    </div>
  </div>
</div>
